<p>I am a cryptography engineer currently working in <a href="https://www.thalesgroup.com/en" target="_blank">Thalès Communications & Security</a> since July 2014.</p>

<p>I have a Ph.D. in Computer Science of the Université de la Méditerranée, with <a href="http://alexis.bonnecaze.perso.luminy.univ-amu.fr/" target="_blank">Alexis Bonnecaze</a> as supervisor at the Ecole Supérieure d'Ingénieurs de Luminy, from February 2008 to January 2011 with <a href="https://www.linkedin.com/in/vincent-dupaquis-5768013/" target="_blank">Vincent Dupaquis</a> as my scientific advisor in Inside Secure.</p>

<p>My main research interests are:
    <ul>
        <li>Physical security of embedded cryptosystems: side-channel attacks (SPA, DPA, templates), fault attacks (laser, EM) and analysis of efficient countermeasures;</li>
        <li>Security analysis and vulnerability assessment of embedded devices (smart cards and SoCs);</li>
        <li>Machine learning and deep learning</li>
    </ul>
</p>

<h1>CV</h1>
Here is my <a href="/cv/">CV</a>.